body {
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: 50% 150%;
}

.container {
  width: 150px;
  margin: 0 auto;
  margin-top: 18%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

input[type="text"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="password"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 102%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.message {
  text-align: center;
  color: #FF0000;
  margin-bottom: 10px;
}

.success {
  color: #008000;
  margin-bottom: 10px;
}

.container {
  width: 250px;
}

.success {
  color: #008000;
  margin-bottom: 10px;
}
